@font-face {
  font-family: Dosis;
  src: url(Dosis.ttf);
}
html {
  height: 100%;
}

body {
  font-family: "Dosis";
  min-height: 35rem;
  position: relative;
  color: white;
  font-weight: 300;
  background-color: rgb(48, 48, 48);
}

nav {
  position: relative;
  background-color: #264653;
  height: 10%;
  margin: 0 15px;
}

nav h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#tak {
  position: absolute;
  min-width: 160px;
  right: 0;
  height: 100%;
  background-color: #1a3038;
}

#tak a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

#lewy {
  float: left;
  background-color: #e76f51;
  height: 90%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#prawy {
  position: relative;
  background-color: #2a9d8f;
  float: right;
  height: 90%;
  text-align: center;
  padding: 0;
}

.hovertext {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#prawy img{
  vertical-align: middle;
} 
.helper{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.helper:hover {
  filter: brightness(50%);
  transition: 0.5s ease;
}
.hovertext:hover + .helper {
  filter: brightness(50%);
  transition: 0.5s ease;
}
#prawy:hover .hovertext {
  opacity: 1;
}

#lewy:hover .hovertext {
  opacity: 1;
}

#prawy img {
  width: 90%;
  vertical-align: middle;
}
@media (min-width: 1024px) and (max-width:1400px){
  nav h1{
    font-size: 1.5em;
  }}
@media (min-width: 768px) and (max-width:1023px){
  #tak{
    min-width: 100px;
  }
  nav h1{
    font-size: 1.3em;
  }
  }
@media (min-width: 320px) and (max-width:767px){
  #tak{
    min-width: 100px;
  }
  nav h1{
    font-size: 1.0em;
  }
  }