body{
    font-family: "Dosis";
}

nav{
    background-color: rgb(65, 65, 65);

}
nav a{
    color: white;
}
header{
    background-color: sandybrown;
}

.center{
    text-align: center;
} 
#admin-table form{
    margin:0;
    padding:0;
}

#col-nazwa{
    max-width: 700px;
}
